body{
    background-color: black;
    
}

.Texte{
    color: white;
    font-size: 40px;
    text-align: center;
}

.Anime {
    color:rgb(255, 254, 254);
    font-size: 30px;
    background-color:rgb(17, 17, 17);
    border: white;
    border:solid ;
    border-color: white;
    border-width: 5px;
    padding: 10px 15px;
    display: inline-block;
    font-size: 20px;
    margin: 20px 40px;
    cursor: pointer;
    
 }   

div:hover{
    background-color: white;
    color: black;
}
 
.Trans {
    color:rgb(255, 254, 254);
    font-size: 30px;
    background-color:rgb(17, 17, 17);
    border: white;
    border:solid ;
    border-color: white;
    border-width: 5px;
    padding: 10px 15px;
    display: inline-block;
    font-size: 20px;
    margin: 20px 40px;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 3s;
    
 }   

div:hover{
    background-color: white;
    color: black;
}

.cBouton.cGrossir {
    color:rgb(255, 254, 254);
    font-size: 30px;
    background-color:rgb(17, 17, 17);
    border: white;
    border:solid ;
    border-color: white;
    border-width: 5px;
    padding: 10px 15px;
    margin: 20px 40px;
    display:  inline-block;
    font-size: 20px ;
    cursor: pointer;
   
}  

.cBouton.cGrossir:hover {
    transition-duration: 1.3s;
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    background-color: white;
    color: black;
}

.cTransition{

    color:rgb(255, 254, 254);
    font-size: 30px;
    background-color:rgb(17, 17, 17);
    border: white;
    border:solid ;
    border-color: white;
    border-width: 5px;
    padding: 10px 15px;
    margin: 20px 40px;
    display:  inline-block;
    font-size: 20px ;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 2.3s;

}

.cTransition:hover{
    background-color: white;
    color: black;
    width: 200px;
    margin-left: 200px;
}




    










